In [6]:
import pandas as pd

In [ ]:
# Задание №1

In [7]:
# links = pd.read_csv(r'C:\Users\User\Desktop\Курсы аналитика\файлы дз пандас\ml-latest\links.csv')
# tags = pd.read_csv(r'C:\Users\User\Desktop\Курсы аналитика\файлы дз пандас\ml-latest\tags.csv')
movies = pd.read_csv(r'C:\Users\operator\Documents\python\10._Основы_pandas\Файлы к заданию №1\movies.csv')
rating = pd.read_csv(r'C:\Users\operator\Documents\python\10._Основы_pandas\Файлы к заданию №1\ratings.csv')

In [25]:
#display(links.head(), tags.head(), movies.head(), rating.head())

In [8]:
movies.movieId.nunique()

9742

In [9]:
rating.movieId.nunique()

9724

In [10]:
rating.shape

(100836, 4)

In [11]:
rating.userId.nunique()

610

In [12]:
rating.rating.unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [13]:
rating[rating.rating == 5].movieId.value_counts().sort_values(ascending=False)

movieId
318       153
296       123
356       116
2571      109
260       104
         ...
8529        1
88810       1
65          1
467         1
156371      1
Name: count, Length: 2954, dtype: int64

In [14]:
movies[movies.movieId == 318]

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

In [ ]:
# Задание №2

In [15]:
power = pd.read_csv(r'C:\Users\operator\Documents\python\10._Основы_pandas\Файлы к заданию №2\power.csv')

In [16]:
power

          country  year  quantity  category
0         Austria  1996       5.0         1
1         Austria  1995      17.0         1
2         Belgium  2014       0.0         1
3         Belgium  2013       0.0         1
4         Belgium  2012      35.0         1
...           ...   ...       ...       ...
1189477  Viet Nam  2012      92.0        71
1189478  Viet Nam  2011      87.0        71
1189479  Viet Nam  2010      50.0        71
1189480  Viet Nam  2009      10.0        71
1189481  Viet Nam  2008       1.0        71

[1189482 rows x 4 columns]

In [17]:
power.country.unique()

array(['Austria', 'Belgium', 'Czechia', 'Finland', 'France', 'Greece',
       'Hungary', 'Italy', 'Korea, Republic of', 'Netherlands', 'Romania',
       'Serbia', 'Slovakia', 'Ukraine', 'United Kingdom', 'United States',
       'Brunei Darussalam', 'Bulgaria', 'Canada', 'Chile', 'Croatia',
       'Iran (Islamic Rep. of)', 'Jordan', 'Lithuania', 'Mexico', 'Oman',
       'Other Asia', 'Poland', 'Portugal', 'Spain', 'Sweden',
       'Switzerland', 'T.F.Yug.Rep. Macedonia', 'Turkey', 'Uzbekistan',
       'Argentina', 'Colombia', 'Germany', 'Norway', 'Australia',
       'China, Macao SAR', 'Japan', 'Denmark', 'Ireland', 'Philippines',
       'Bangladesh', 'Eritrea', 'Ethiopia', 'Lesotho', 'Nepal', 'Niger',
       'Pakistan', 'Serbia and Montenegro', 'Tunisia', 'Botswana',
       'Georgia', 'Republic of Moldova', 'Peru', 'South Africa',
       'Iceland', 'Latvia', 'Luxembourg', 'Cuba', 'Kyrgyzstan',
       'Singapore', 'Thailand', 'United Arab Emirates', 'Uruguay',
       'Armenia', 'Fiji', "Korea, Dem.Ppl's.Rep.", 'Russian Federation',
       'Swaziland', 'Zimbabwe', 'Afghanistan', 'Antigua and Barbuda',
       'Azerbaijan', 'Bahamas', 'Belize', 'Bolivia (Plur. State of)',
       'Brazil', 'Burkina Faso', 'Cameroon', 'Cayman Islands',
       'Central African Rep.', 'China', 'Comoros', 'Congo', 'Costa Rica',
       "Côte d'Ivoire", 'Dem. Rep. of the Congo', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Ethiopia, incl. Eritrea', 'Faeroe Islands', 'French Guiana',
       'Germany, Fed. R. (former)', 'Greenland', 'Guatemala', 'Guinea',
       'Guyana', 'Honduras', 'Indonesia', 'Israel', 'Jamaica', 'Jersey',
       'Kazakhstan', 'Kenya', 'Kuwait', "Lao People's Dem. Rep.",
       'Liberia', 'Libya', 'Malawi', 'Malaysia', 'Maldives', 'Mauritania',
       'Mayotte', 'Morocco', 'Myanmar', 'Namibia', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niue', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Sao Tome and Principe', 'Senegal', 'Seychelles',
       'Slovenia', 'Solomon Islands', 'Sri Lanka', 'Sudan (former)',
       'Suriname', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'United Rep. of Tanzania', 'Venezuela (Bolivar. Rep.)',
       'Yugoslavia, SFR (former)', 'Zambia', 'Algeria', 'Curaçao',
       'Gabon', 'Malta', 'Neth. Antilles (former)', 'Sierra Leone',
       'USSR (former)', 'Barbados', 'Benin', 'Chad', 'Djibouti',
       'French Polynesia', 'Ghana', 'Grenada', 'Guadeloupe', 'Haiti',
       'Iraq', 'Kiribati', 'Madagascar', 'Mali', 'Martinique',
       'Pacific Islands (former)', 'Palau', 'St. Helena and Depend.',
       'St. Vincent-Grenadines', 'Syrian Arab Republic', 'Uganda',
       'Yemen', 'Yemen, Dem. (former)', 'Burundi', 'India', 'Mauritius',
       'Mozambique', 'Nigeria', 'Réunion', 'Rwanda', 'Samoa', 'Somalia',
       'St. Kitts-Nevis', 'Viet Nam', 'Belarus', 'Cyprus', 'Cabo Verde',
       'Albania', 'Bahrain', 'Bosnia and Herzegovina',
       'China, Hong Kong SAR', 'Czechoslovakia (former)', 'Angola',
       'Bermuda', 'Bhutan', 'Equatorial Guinea', 'Lebanon',
       'Saudi Arabia', 'St. Lucia', 'St. Pierre-Miquelon',
       'State of Palestine', 'Tajikistan', 'German Dem. R. (former)',
       'Anguilla', 'Mongolia', 'Montenegro', 'Cambodia', 'South Sudan',
       'Sudan', 'Andorra', 'Aruba', 'Bonaire, St Eustatius, Saba',
       'British Virgin Islands', 'Dominica', 'Falkland Is. (Malvinas)',
       'Gambia', 'Gibraltar', 'Qatar', 'Sint Maarten (Dutch part)',
       'Turkmenistan', 'Turks and Caicos Islands', 'Vanuatu',
       'Guinea-Bissau', 'Micronesia (Fed. States of)', 'Timor-Leste',
       'Yemen Arab Rep. (former)', 'American Samoa', 'Liechtenstein',
       'Puerto Rico', 'Cook Islands', 'Guam', 'Guernsey', 'Isle of Man',
       'Marshall Islands', 'Montserrat', 'Nauru',
       'Northern Mariana Islands', 'Tuvalu', 'United States Virgin Is.',
       'Wallis and Futuna Is.',
       'Commonwealth of Independent States (CIS)', 'Antarctic Fisheries'],
      dtype=object)

In [18]:
need = power[(power.quantity >= 0) & 
      ((power.year >= 2005) & (power.year <= 2010)) & 
      (power.category.isin([4, 12, 21])) & 
      ((power.country.str.contains('Latv', case=False)) | 
       (power.country.str.contains('Lith', case=False)) | 
       (power.country.str.contains('Esto', case=False)))]

In [19]:
need.country.unique()

array(['Estonia', 'Lithuania', 'Latvia'], dtype=object)

In [20]:
print(f'суммарное потребление - {need.quantity.sum()}')

суммарное потребление - 240580.0

In [ ]:
# Задание № 3

In [21]:
pd.read_html('https://pythonworld.ru/tipy-dannyx-v-python/stroki-funkcii-i-metody-strok.html', 
             attrs = {'class': "docutils"})[0]

,Функция или метод,Назначение
0,"S = 'str'; S = ""str""; S = '''str'''; S = """"""st...",Литералы строк
1,"S = ""s\np\ta\nbbb""",Экранированные последовательности
2,"S = r""C:\temp\new""",Неформатированные строки (подавляют экранирова...
3,"S = b""byte""",Строка байтов
4,S1 + S2,Конкатенация (сложение строк)
5,S1 * 3,Повторение строки
6,S[i],Обращение по индексу
7,S[i:j:step],Извлечение среза
8,len(S),Длина строки
9,"S.find(str, [start],[end])",Поиск подстроки в строке. Возвращает номер пер...
10,"S.rfind(str, [start],[end])",Поиск подстроки в строке. Возвращает номер пос...
11,"S.index(str, [start],[end])",Поиск подстроки в строке. Возвращает номер пер...
12,"S.rindex(str, [start],[end])",Поиск подстроки в строке. Возвращает номер пос...
13,"S.replace(шаблон, замена[, maxcount])",Замена шаблона на замену. maxcount ограничивае...
14,S.split(символ),Разбиение строки по разделителю
15,S.isdigit(),Состоит ли строка из цифр
16,S.isalpha(),Состоит ли строка из букв
17,S.isalnum(),Состоит ли строка из цифр или букв
18,S.islower(),Состоит ли строка из символов в нижнем регистре
19,S.isupper(),Состоит ли строка из символов в верхнем регистре
20,S.isspace(),Состоит ли строка из неотображаемых символов (...
21,S.istitle(),Начинаются ли слова в строке с заглавной буквы
22,S.upper(),Преобразование строки к верхнему регистру
23,S.lower(),Преобразование строки к нижнему регистру
24,S.startswith(str),Начинается ли строка S с шаблона str
25,S.endswith(str),Заканчивается ли строка S шаблоном str
26,S.join(список),Сборка строки из списка с разделителем S
27,ord(символ),Символ в его код ASCII
28,chr(число),Код ASCII в символ
29,S.capitalize(),Переводит первый символ строки в верхний регис...
30,"S.center(width, [fill])","Возвращает отцентрованную строку, по краям кот..."
31,"S.count(str, [start],[end])",Возвращает количество непересекающихся вхожден...
32,S.expandtabs([tabsize]),"Возвращает копию строки, в которой все символы..."
33,S.lstrip([chars]),Удаление пробельных символов в начале строки
34,S.rstrip([chars]),Удаление пробельных символов в конце строки
35,S.strip([chars]),Удаление пробельных символов в начале и в конц...
36,S.partition(шаблон),"Возвращает кортеж, содержащий часть перед перв..."
37,S.rpartition(sep),"Возвращает кортеж, содержащий часть перед посл..."
38,S.swapcase(),"Переводит символы нижнего регистра в верхний, ..."
39,S.title(),Первую букву каждого слова переводит в верхний...
40,S.zfill(width),"Делает длину строки не меньшей width, по необх..."
41,"S.ljust(width, fillchar="" "")","Делает длину строки не меньшей width, по необх..."
42,"S.rjust(width, fillchar="" "")","Делает длину строки не меньшей width, по необх..."
43,"S.format(*args, **kwargs)",Форматирование строки

In [ ]:
pd.read_html('https://fortrader.org/currencyrates', encoding='utf-8')[0]